{% extends 'edx/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Courses" %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'bower_components/pikaday/css/pikaday.css' %}"
          type="text/x-scss">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" aria-label="Account">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#main-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span aria-hidden="true" class="icon-bar"></span>
                    <span aria-hidden="true" class="icon-bar"></span>
                    <span aria-hidden="true" class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/courses/">
                    <div class="navbar-brand-logo" alt="{{ platform_name }}"></div>
                    <div class="navbar-brand-app">{% trans "E-Commerce Administration" %}</div>
                </a>
            </div>
        </div>
    </nav>
    {% include "edx/partials/_administration_menu.html" %}
{% endblock navbar %}

{% block content %}
    <div id="app" class="container" data-credit-providers="{{ credit_providers }}"></div>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <em>{% blocktrans %}{{ platform_name }} Course Administration Tool{% endblocktrans %}</em>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}

{% block javascript %}
    <script src="{% static 'js/apps/course_admin_app.js' %}"></script>
{% endblock %}
