{% extends 'edx/base.html' %}
{% load i18n %}

{% block title %}{% trans "Redeem" %}{% endblock %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div id="offer">
        <div class="container">
            <div class="depth depth-2 message-error">
                <h3>{{ error }}</h3>
                <p>{% trans "If you need assistance, contact onlinelearning@hms.harvard.edu." %}</p>
            </div>
        </div>
    </div>
{% endblock %}