{% extends 'edx/base.html' %}
{% load i18n %}

{% block title %}{% trans "Redeem" %}{% endblock %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block dropdown %}
    <div class="container dropdown-container">
        {% include 'edx/partials/_account_dropdown.html' %}
    </div>
{% endblock dropdown %}

{% block content %}
    <div id="offer">
        <div class="container">
            <div class="depth depth-2 message-error">
                <h3>
                    {{ error }}
                </h3>
                {% if account_activation_error %}
                <ol>
                    <li>{{ step_one }}</li>
                    <li>{{ step_two }}</li>
                </ol>
                {% endif %}
                <p>{% trans "If you need assistance, contact <span>onlinelearning@hms.harvard.edu</span>." %}</p>
            </div>
        </div>
    </div>
{% endblock %}