{% load i18n %}

<nav class="navbar navbar-default" aria-label="Account">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#main-navbar-collapse" aria-expanded="false">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span aria-hidden="true" class="icon-bar"></span>
        <span aria-hidden="true" class="icon-bar"></span>
        <span aria-hidden="true" class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <div class="navbar-brand-logo" alt="{{ platform_name }}"></div>
      </div>
    </div>
  </div>
</nav>
